

@font-face {
   font-family: 'Space mono';
   src: url(../fonts/SpaceMono-Italic.ttf);
}

@font-face {
   font-family: "Lexend deca";
   src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}