@charset "UTF-8";
@import "fonts";
@import "general";
@import "normalize";
@import "variables";
@import "blocks/blocks";




h1,
h2,
h3,
h4 {
   font-family: 'Space Mono';
   font-weight: 700;
   color: var(--dark-navy);
}

h1 {
   font-size: 56px;
   line-height: 100%;
   letter-spacing: -2.5px;
   color: #fff !important;
}

h2 {
   font-size: 48px;
   line-height: 100%;
   letter-spacing: -2.14px;
}

h3 {
   font-size: 40px;
   line-height: 120%;
   letter-spacing: -1.78px;
}

h4 {
   font-size: 24px;
   line-height: 117%;
   letter-spacing: -1.07px;
}

p {

   font-family: 'Lexend Deca';
   font-weight: 400;
   font-size: 15px;
   line-height: 167% ;
}

@media (max-width: 640px) {
   h1 {
      font-size: 40px;
   }

   h2 {
      font-size: 32px;
   }

   h3 {
      font-size: 24px;
   }
}

li {
   font-family: 'Space Mono';
   color: var(--dim-grey);
   font-size: 15px;
   line-height: 167%;
   font-weight: 700;
}

// layout

section {
   padding-top: 64px;
   padding-bottom: 64px;
}



.main-bg {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   background-position: center right !important;
}

.bg-img {
   background: url("../images/hero.png");
}

.bg-about {
   background: url('../images/about-header.png');
}

.bg-location {
   background: url('../images/location-header.png');
}



// texts

.main-paragraph {
   color: var(--dim-grey);
   font-size: 15px;
   line-height: 167%;
   font-weight: 400;
   font-family: 'Lexend Deca';
}

@media (max-width: 1024px) {

   .title-xl {
      font-size: 25px;
   }
}


// Colors 


::-webkit-scrollbar {
   width: 8px;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: var(--yellow);
}

// anchor hover animation
.underline-animation {
   display: inline-block;
   position: relative;
}

.underline-animation:after {
   content: "";
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 0.1rem;
   bottom: 0;
   left: 0;
   background: var(--yellow);
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
}

.underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

// Accordion
.accordion__contentBox {
   padding: 35px 40px;
   margin-bottom: 16px;
   cursor: pointer;
   max-width: 730px;
   background: var(--snow);
   transition: all .3s;

   &:hover {
      background: var(--light-yellow);
   }

   .accordion__label {
      display: flex;
      align-items: center;
      gap: 14px;
      position: relative;

      .accordion__icon {
         width: 30px;
         height: auto;
      }

      .imgBox {
         position: absolute;
         right: 0;
         transform: rotate(180deg);
         transition: 0.3s;
      }

      .accordion__title {
         position: relative;
         margin-bottom: 0;
         text-align: left;
         padding-right: 20px;
      }
   }

   .accordion__content {
      position: relative;
      height: 0;
      transition: 0.5s;
      overflow: hidden;
   }
}

.accordion__contentBox.active .accordion__content {
   height: 200px;
   padding-top: 24px;
}

.accordion__contentBox.active .accordion__content.browser {
   height: 429px;
}

.accordion__contentBox.active .imgBox {
   transform: rotate(360deg);
}

// Responsive menu
.mobile-burger {
   background-image: url("../images/burger.png");
}

.mobile-burger.active {
   background-image: url("../images/close-burger.png");
}

.mobile-menu.active {
   left: 0 !important;
}

.mobile_menu {
   &__item {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 100;
      color: var(--dim-grey);

   }

   &__link {
      text-decoration: none;
      color: var(--dim-grey);
      transition: all .3s;

      &:hover {
         color: var(--yellow);
      }
   }
}




.imgBefore {
   &::after {
      position: absolute;
      content: '';
      width: 100%;
      max-width: 445px;
      height: 100%;
      border-radius: 50%;
      background: var(--light-grey);
      right: -105%;
      z-index: -1;
   }
}

.learn_more {
   &:hover img {
      position: relative;
      animation: right 0.5s ease-out infinite;
   }
}





@keyframes right {
   0% {
      left: 0;
   }

   50% {
      left: 5px;
   }

   100% {
      left: 0;
   }
}

@media (max-width: 460px) {
   .text-base {
      font-size: 10px !important;
   }

   .title-md {
      font-size: 14px;
   }

   .main-paragraph {
      font-size: 12px;
   }

   nav {
      .logoName-1 {
         display: none;
      }

      .logoName-2 {
         display: block;
      }
   }
}

@media (max-width: 640px) {
   .imgBefore {
      &::after {
         display: none;
      }
   }

   .hero-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .hero-title,
      .hero-desc {
         text-align: center;
      }
   }
}

@media (max-width: 767px) {
   nav {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      width: 100% !important;
      padding-left: 5%;
      padding-right: 5%;
   }
}

@media (min-width: 640px) and (max-width: 767px) {
   .hero-box {
      display: flex;
      gap: 79px;
   }
}

@media (min-width: 1024) {
   .imgBefore {
      min-width: 445px;
      max-width: 445px;
   }
}

